## 5. Train Test Validation Split

In [21]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re
from nltk.corpus import stopwords
import distance
from nltk.stem import WordNetLemmatizer    # lemmatize
from wordcloud import WordCloud, STOPWORDS
import string 
from sklearn.feature_extraction.text import CountVectorizer #Bag of words
from sklearn.feature_extraction.text import TfidfVectorizer # Tfid

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('df.csv')
df.head()

   Unnamed: 0  Class Index                                            Summary
0           0            3  ['wall', 'st', 'bear', 'claw', 'back', 'black'...
1           1            3  ['carlyle', 'look', 'toward', 'commercial', 'a...
2           2            3  ['oil', 'economy', 'cloud', 'stock', 'outlook'...
3           3            3  ['iraq', 'halt', 'oil', 'export', 'main', 'sou...
4           4            3  ['oil', 'price', 'soar', 'time', 'record', 'po...

In [4]:
df = df.drop(['Unnamed: 0'],axis = 'columns')

In [5]:
df.shape

(127600, 2)

In [6]:
df.head(2)

   Class Index                                            Summary
0            3  ['wall', 'st', 'bear', 'claw', 'back', 'black'...
1            3  ['carlyle', 'look', 'toward', 'commercial', 'a...

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test  = train_test_split(df,test_size=0.2,stratify = df['Class Index'])
X_train, X_val = train_test_split(X_train,test_size=0.20,stratify = X_train['Class Index'])

What does Stratify = True in train test split does ?

So , it bascily does sampling in proper manner so that we get same amount of values in each sets , we can check it by [y_train.value_counts()] to check our output labels

In [9]:
X_train.shape

(81664, 2)

In [10]:
X_test.shape

(25520, 2)

In [11]:
X_val.shape

(20416, 2)

In [12]:
X_train['Class Index'].value_counts()

4    20416
3    20416
2    20416
1    20416
Name: Class Index, dtype: int64

In [13]:
X_test['Class Index'].value_counts()

4    6380
3    6380
2    6380
1    6380
Name: Class Index, dtype: int64

In [14]:
X_val['Class Index'].value_counts()

4    5104
3    5104
2    5104
1    5104
Name: Class Index, dtype: int64

### 6 Creating the Models
1: Tf-idf

2: Uni-gram,bi-gram,n-gram

3: Selecting max_features out of the model

# 6.1 TF-IDF

### Here i have created a small Blog on TF-IDF :
https://niharjamdar.medium.com/tf-idf-term-frequency-and-inverse-document-frequency-56a0289d2fb6

<img src="tfidf.png" width="700" height="200">

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [23]:
vectorizer_tf = TfidfVectorizer(tokenizer=None,stop_words=None,max_df=0.75,max_features=2000,lowercase=False,ngram_range=(1,2))
train_vectors = vectorizer_tf.fit_transform(X_train.Summary)   # For train

In [26]:
test_vectors = vectorizer_tf.transform(X_test.Summary)   # for test

In [40]:
val_vectors = vectorizer_tf.transform(X_val.Summary)    # for validation

In [42]:
print('Shape of X_train:',X_train.shape)
print('Shape of X_test:',X_test.shape)
print('Shape of X_val:',X_val.shape)
print('Shape of train_vectors:',train_vectors.shape)
print('Shape of test_vectors:',test_vectors.shape)
print('Shape of val_vectors:',val_vectors.shape)

Shape of X_train: (81664, 2)
Shape of X_test: (25520, 2)
Shape of X_val: (20416, 2)
Shape of train_vectors: (81664, 2000)
Shape of test_vectors: (25520, 2000)
Shape of val_vectors: (20416, 2000)

#### What is max_df = .75
max_df is used for removing data values that appear too frequently, also known as "corpus-specific stop words". For example: max_df = 0.50 means "It ignores terms that appear in more than 50% of the documents". max_df = 25 means "It ignores terms that appear in more than 25 documents"

#### One small example of n-gram

v = CountVectorizer(ngram_range=(1, 2))
 pprint(v.fit(["an apple a day keeps the doctor away"]).vocabulary_)
{u'an': 0,
 u'an apple': 1,
 u'apple': 2,
 u'apple day': 3,
 u'away': 4,
 u'day': 5,
 u'day keeps': 6,
 u'doctor': 7,
 u'doctor away': 8,
 u'keeps': 9,
 u'keeps the': 10,
 u'the': 11,
 u'the doctor': 12}

In [24]:
vectorizer_tf.get_feature_names()

['able',
 'abu',
 'abuse',
 'access',
 'according',
 'account',
 'accounting',
 'accused',
 'acquire',
 'acquisition',
 'across',
 'act',
 'action',
 'activity',
 'ad',
 'add',
 'added',
 'administration',
 'advance',
 'advanced',
 'advertising',
 'afghan',
 'afghanistan',
 'afp',
 'afp afp',
 'africa',
 'african',
 'afternoon',
 'age',
 'agency',
 'agent',
 'ago',
 'agree',
 'agreed',
 'agreement',
 'agrees',
 'ahead',
 'aid',
 'aim',
 'aimed',
 'air',
 'airbus',
 'aircraft',
 'airline',
 'airport',
 'airway',
 'al',
 'al qaeda',
 'allegation',
 'alleged',
 'alliance',
 'allow',
 'allowed',
 'allows',
 'ally',
 'almost',
 'along',
 'already',
 'also',
 'although',
 'amazon',
 'amd',
 'america',
 'american',
 'amid',
 'among',
 'amp',
 'anaheim',
 'analyst',
 'angel',
 'angeles',
 'annan',
 'announce',
 'announced',
 'announcement',
 'announces',
 'annual',
 'another',
 'anti',
 'antitrust',
 'aol',
 'ap',
 'ap ap',
 'apparently',
 'appeal',
 'appeared',
 'appears',
 'apple',
 'apple computer',
 'application',
 'approach',
 'approval',
 'approved',
 'arab',
 'arafat',
 'area',
 'argentina',
 'arial',
 'arial helvetica',
 'ariel',
 'ariel sharon',
 'arizona',
 'arm',
 'armed',
 'army',
 'around',
 'arrest',
 'arrested',
 'arrived',
 'arsenal',
 'asia',
 'asian',
 'ask',
 'asked',
 'assault',
 'asset',
 'associate',
 'associated',
 'association',
 'astronaut',
 'astros',
 'athens',
 'atlanta',
 'atlantic',
 'atomic',
 'attack',
 'attempt',
 'attorney',
 'attorney general',
 'auction',
 'aug',
 'august',
 'australia',
 'australian',
 'authority',
 'auto',
 'available',
 'average',
 'avoid',
 'awaited',
 'award',
 'away',
 'back',
 'backed',
 'bad',
 'baghdad',
 'ball',
 'ballot',
 'baltimore',
 'ban',
 'bangladesh',
 'bank',
 'banking',
 'bankruptcy',
 'bar',
 'barrel',
 'base',
 'baseball',
 'based',
 'basketball',
 'battle',
 'bay',
 'bear',
 'beat',
 'beating',
 'became',
 'become',
 'becoming',
 'began',
 'begin',
 'beginning',
 'behind',
 'beijing',
 'belief',
 'believe',
 'bell',
 'benefit',
 'best',
 'better',
 'bid',
 'big',
 'biggest',
 'bill',
 'billion',
 'billion dollar',
 'bird',
 'bit',
 'black',
 'blair',
 'blast',
 'block',
 'blow',
 'blue',
 'bn',
 'board',
 'body',
 'boeing',
 'bomb',
 'bomber',
 'bombing',
 'bond',
 'book',
 'boost',
 'border',
 'bos',
 'boston',
 'boston red',
 'bought',
 'bowl',
 'box',
 'boy',
 'brand',
 'brave',
 'brazil',
 'break',
 'breaking',
 'bring',
 'britain',
 'british',
 'broadband',
 'broke',
 'broker',
 'brother',
 'brought',
 'brown',
 'browser',
 'bryant',
 'budget',
 'build',
 'building',
 'built',
 'bus',
 'bush',
 'bush administration',
 'business',
 'buy',
 'buying',
 'ca',
 'cabinet',
 'cable',
 'calif',
 'california',
 'call',
 'called',
 'calling',
 'came',
 'camera',
 'camp',
 'campaign',
 'canada',
 'canadian',
 'canadian press',
 'cancer',
 'candidate',
 'capacity',
 'capital',
 'captain',
 'car',
 'car bomb',
 'card',
 'cardinal',
 'care',
 'career',
 'carolina',
 'carrier',
 'carry',
 'case',
 'cash',
 'cause',
 'caused',
 'cbs',
 'cbs mw',
 'cell',
 'cell phone',
 'celtic',
 'cent',
 'center',
 'central',
 'century',
 'ceo',
 'chain',
 'chairman',
 'challenge',
 'champion',
 'champion league',
 'championship',
 'championship series',
 'chance',
 'change',
 'charge',
 'charged',
 'chart',
 'check',
 'chelsea',
 'chicago',
 'chief',
 'chief executive',
 'child',
 'china',
 'chinese',
 'chip',
 'choice',
 'christmas',
 'cingular',
 'cisco',
 'citing',
 'city',
 'civil',
 'civilian',
 'claim',
 'claimed',
 'clash',
 'class',
 'classic',
 'clear',
 'cleric',
 'cleveland',
 'client',
 'climate',
 'close',
 'closed',
 'closer',
 'closing',
 'club',
 'co',
 'coach',
 'coalition',
 'coast',
 'code',
 'colin',
 'college',
 'color',
 'colorado',
 'colt',
 'come',
 'coming',
 'comment',
 'commerce',
 'commercial',
 'commission',
 'committee',
 'common',
 'communication',
 'community',
 'company',
 'competition',
 'complete',
 'computer',
 'computing',
 'concern',
 'condition',
 'conference',
 'confidence',
 'confirmed',
 'conflict',
 'congress',
 'connection',
 'consecutive',
 'consider',
 'considering',
 'consumer',
 'content',
 'continue',
 'continued',
 'continues',
 'contract',
 'control',
 'controversial',
 'convention',
 'core',
 'corp',
 'corp target',
 'corporate',
 'corporation',
 'cost',
 'could',
 'council',
 'country',
 'county',
 'course',
 'court',
 'cp',
 'crash',
 'create',
 'created',
 'credit',
 'crew',
 'cricket',
 'crime',
 'criminal',
 'crisis',
 'critical',
 'cross',
 'crowd',
 'crucial',
 'crude',
 'crude oil',
 'cub',
 'cuba',
 'cup',
 'currency',
 'current',
 'customer',
 'cut',
 'cut job',
 'cutting',
 'daily',
 'dallas',
 'damage',
 'dame',
 'darfur',
 'darfur region',
 'data',
 'date',
 'david',
 'davis',
 'day',
 'de',
 'dead',
 'deadline',
 'deadly',
 'deal',
 'death',
 'debate',
 'debt',
 'debut',
 'dec',
 'decade',
 'december',
 'decided',
 'decision',
 'declared',
 'decline',
 'deep',
 'defeat',
 'defence',
 'defending',
 'defense',
 'defensive',
 'deficit',
 'delay',
 'delayed',
 'delhi',
 'dell',
 'delta',
 'demand',
 'democracy',
 'democrat',
 'democratic',
 'department',
 'design',
 'designed',
 'desktop',
 'desktop search',
 'despite',
 'detail',
 'detroit',
 'develop',
 'developed',
 'developer',
 'developing',
 'development',
 'device',
 'died',
 'diego',
 'different',
 'digital',
 'diplomat',
 'direct',
 'director',
 'disaster',
 'disc',
 'discovered',
 'discus',
 'disease',
 'disney',
 'display',
 'dispute',
 'district',
 'division',
 'doctor',
 'document',
 'dodger',
 'dollar',
 'dollar barrel',
 'dollar billion',
 'dollar million',
 'dollarm',
 'dolphin',
 'domestic',
 'done',
 'double',
 'doubt',
 'dow',
 'dow jones',
 'download',
 'dozen',
 'draft',
 'draw',
 'dream',
 'drive',
 'driver',
 'drop',
 'dropped',
 'drug',
 'dual',
 'due',
 'dutch',
 'dvd',
 'eagle',
 'earlier',
 'early',
 'earnings',
 'earth',
 'earthquake',
 'east',
 'eastern',
 'easy',
 'ebay',
 'economic',
 'economic growth',
 'economy',
 'edge',
 'edition',
 'edward',
 'effect',
 'effort',
 'egypt',
 'egyptian',
 'eight',
 'el',
 'election',
 'electronic',
 'electronics',
 'embassy',
 'emergency',
 'employee',
 'end',
 'ended',
 'ending',
 'energy',
 'engine',
 'engineer',
 'england',
 'english',
 'enough',
 'enrichment',
 'enron',
 'enter',
 'enterprise',
 'entertainment',
 'equipment',
 'estimate',
 'eu',
 'euro',
 'europe',
 'european',
 'european union',
 'even',
 'event',
 'ever',
 'every',
 'evidence',
 'ex',
 'exchange',
 'exchange commission',
 'executive',
 'expand',
 'expansion',
 'expectation',
 'expected',
 'expects',
 'expert',
 'exploded',
 'explorer',
 'explosion',
 'explosive',
 'expo',
 'export',
 'express',
 'extend',
 'extended',
 'extension',
 'extra',
 'eye',
 'face',
 'face verdana',
 'facing',
 'factory',
 'failed',
 'failure',
 'fall',
 'falling',
 'falluja',
 'fallujah',
 'familiar',
 'family',
 'fan',
 'fannie',
 'fannie mae',
 'far',
 'fast',
 'faster',
 'fastest',
 'fear',
 'feature',
 'fed',
 'federal',
 'federal reserve',
 'federer',
 'fee',
 'fell',
 'fi',
 'field',
 'fifth',
 'fight',
 'fighter',
 'fighting',
 'figure',
 'file',
 'filed',
 'filing',
 'film',
 'final',
 'finally',
 'finance',
 'financial',
 'find',
 'finding',
 'fine',
 'finish',
 'fire',
 'fired',
 'firefox',
 'firm',
 'first',
 'first half',
 'first round',
 'first time',
 'fiscal',
 'five',
 'five year',
 'fix',
 'fla',
 'flat',
 'flaw',
 'flight',
 'flood',
 'florida',
 'flu',
 'fly',
 'focus',
 'following',
 'font',
 'font face',
 'food',
 'foot',
 'football',
 'force',
 'forced',
 'ford',
 'forecast',
 'foreign',
 'foreign minister',
 'forest',
 'form',
 'format',
 'former',
 'formula',
 'formula one',
 'forward',
 'found',
 'founder',
 'four',
 'four year',
 'fourth',
 'fourth quarter',
 'france',
 'francisco',
 'fraud',
 'free',
 'freed',
 'french',
 'fresh',
 'friday',
 'friday night',
 'friend',
 'front',
 'fuel',
 'full',
 'fullquote',
 'fund',
 'future',
 'gain',
 'game',
 'gas',
 'gate',
 'gave',
 'gaza',
 'gaza strip',
 'general',
 'generation',
 'george',
 'george bush',
 'georgia',
 'german',
 'germany',
 'get',
 'getting',
 'giant',
 'girl',
 'give',
 'given',
 'giving',
 'global',
 'gm',
 'go',
 'goal',
 'going',
 'gold',
 'gold medal',
 'golf',
 'good',
 'google',
 'google inc',
 'got',
 'government',
 'governor',
 'grand',
 'grand prix',
 'great',
 'greece',
 'greek',
 'green',
 'grew',
 'ground',
 'group',
 'group inc',
 'growing',
 'growth',
 'guard',
 'guilty',
 'gulf',
 'gunman',
 'hacker',
 'haiti',
 'half',
 'halt',
 'hamas',
 'hand',
 'handed',
 'handheld',
 'handset',
 'hard',
 'hat',
 'head',
 'headed',
 'health',
 'hearing',
 'heart',
 'heat',
 'heating',
 'heavy',
 'held',
 'help',
 'helped',
 'helping',
 'helvetica',
 'helvetica size',
 'hewitt',
 'hewlett',
 'hewlett packard',
 'high',
 'high speed',
 'higher',
 'highest',
 'hike',
 'hill',
 'historic',
 'history',
 'hit',
 'hockey',
 'hold',
 'holding',
 'hole',
 'holiday',
 'hollywood',
 'home',
 'homer',
 'hong',
 'hong kong',
 'hope',
 'hoping',
 'hospital',
 'host',
 'hostage',
 'hostile',
 'hot',
 'hotel',
 'hour',
 'house',
 'houston',
 'howard',
 'hp',
 'huge',
 'human',
 'hundred',
 'hurricane',
 'hurricane ivan',
 'hurt',
 'ibm',
 'id',
 'idea',
 'illegal',
 'image',
 'impact',
 'important',
 'improve',
 'inc',
 'inc target',
 'including',
 'income',
 'increase',
 'increased',
 'independent',
 'index',
 'india',
 'indian',
 'indianapolis',
 'indonesia',
 'indonesian',
 'industrial',
 'industry',
 'inflation',
 'info',
 'information',
 'initial',
 'injured',
 'injury',
 'inning',
 'inside',
 'instead',
 'insurance',
 'insurer',
 'insurgent',
 'intel',
 'intelligence',
 'interest',
 'interest rate',
 'interim',
 'international',
 'internet',
 'internet explorer',
 'interview',
 'introduced',
 'inventory',
 'investigation',
 'investment',
 'investor',
 'ipo',
 'ipod',
 'iran',
 'iraq',
 'iraqi',
 'ireland',
 'irish',
 'islamic',
 'island',
 'israel',
 'israeli',
 'issue',
 'issued',
 'italian',
 'italy',
 'itunes',
 'ivan',
 'ivory',
 'ivory coast',
 'jail',
 'jakarta',
 'james',
 'january',
 'japan',
 'japanese',
 'jason',
 'java',
 'jay',
 'jerusalem',
 'jet',
 'job',
 'john',
 'john kerry',
 'johnson',
 'join',
 'joint',
 'jones',
 'jose',
 'journalist',
 'judge',
 'july',
 'jump',
 'june',
 'justice',
 'kabul',
 'kansa',
 'karzai',
 'kashmir',
 'keep',
 'kept',
 'kerry',
 'key',
 'kidnapped',
 'kill',
 'killed',
 'killing',
 'killing least',
 'king',
 'knee',
 'know',
 'known',
 'kong',
 'korea',
 'korean',
 'la',
 'labor',
 'land',
 'large',
 'largest',
 'last',
 'last month',
 'last night',
 'last week',
 'last year',
 'late',
 'later',
 'latest',
 'launch',
 'launched',
 'law',
 'lawsuit',
 'lawyer',
 'le',
 'lead',
 'leader',
 'leading',
 'leaf',
 'league',
 'least',
 'least people',
 'leave',
 'leaving',
 'led',
 'left',
 'legal',
 'let',
 'level',
 'life',
 'lift',
 'light',
 'like',
 'likely',
 'limit',
 'line',
 'link',
 'linked',
 'linux',
 'lion',
 'list',
 'little',
 'live',
 'liverpool',
 'living',
 'local',
 'london',
 'london reuters',
 'long',
 'longer',
 'look',
 'looked',
 'looking',
 'los',
 'los angeles',
 'lose',
 'losing',
 'loss',
 'lost',
 'lot',
 'louis',
 'love',
 'low',
 'lower',
 'ltd',
 'mac',
 'machine',
 'made',
 'madrid',
 'mae',
 'mail',
 'main',
 'major',
 ...]

In [25]:
vectorizer_tf.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.float64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': False,
 'max_df': 0.75,
 'max_features': 2000,
 'min_df': 1,
 'ngram_range': (1, 2),
 'norm': 'l2',
 'preprocessor': None,
 'smooth_idf': True,
 'stop_words': None,
 'strip_accents': None,
 'sublinear_tf': False,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'use_idf': True,
 'vocabulary': None}

In [35]:
df.head()

   Class Index                                            Summary
0            3  ['wall', 'st', 'bear', 'claw', 'back', 'black'...
1            3  ['carlyle', 'look', 'toward', 'commercial', 'a...
2            3  ['oil', 'economy', 'cloud', 'stock', 'outlook'...
3            3  ['iraq', 'halt', 'oil', 'export', 'main', 'sou...
4            3  ['oil', 'price', 'soar', 'time', 'record', 'po...

In [36]:
train_df = pd.DataFrame(train_vectors.toarray(),columns=vectorizer_tf.get_feature_names())
train_df = pd.concat([train_df,X_train['Class Index'].reset_index(drop = True)],axis = 1)

train_df

,able,abu,abuse,access,according,account,accounting,accused,acquire,acquisition,...,yet,york,york reuters,york yankee,young,yukos,zealand,zimbabwe,zone,Class Index
0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.269783,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,0.0,0.0,0.0,0.0,0.000000,0.115351,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81659,0.0,0.0,0.0,0.0,0.195097,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
81660,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
81661,0.0,0.0,0.0,0.0,0.173916,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
81662,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
81663,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [37]:
test_df = pd.DataFrame(test_vectors.toarray(),columns=vectorizer_tf.get_feature_names())
test_df = pd.concat([test_df,X_test['Class Index'].reset_index(drop = True)],axis = 1)

test_df

,able,abu,abuse,access,according,account,accounting,accused,acquire,acquisition,...,yet,york,york reuters,york yankee,young,yukos,zealand,zimbabwe,zone,Class Index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.180698,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1
25516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.129202,0.160351,0.0,0.0,0.0,0.0,0.0,0.000000,3
25517,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,3
25518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,3
25519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,3

In [43]:
val_df = pd.DataFrame(val_vectors.toarray(),columns=vectorizer_tf.get_feature_names())
val_df = pd.concat([val_df,X_val['Class Index'].reset_index(drop = True)],axis = 1)

val_df

,able,abu,abuse,access,according,account,accounting,accused,acquire,acquisition,...,yet,york,york reuters,york yankee,young,yukos,zealand,zimbabwe,zone,Class Index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.560624,0.0,2
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.478845,0.000000,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,1
20412,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,2
20413,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,3
20414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,1
20415,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,4

### Exporting File to csv

In [46]:
train_df.to_csv('train_df.csv',index ='False')

In [47]:
test_df.to_csv('test_df.csv',index ='False')

In [48]:
val_df.to_csv('val_df.csv',index ='False')